development:
  adapter: postgresql
  encoding: unicode
  database: parrot_development
  pool: 5
  username: parrot
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: parrot_test
  pool: 5
  username: parrot
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: parrot_production
  pool: 5
  username: parrot
  password:
